.mainNavbar {
   background: rgb(255 255 255 / 8%);

   &__container {
      @include flex-col(space-between);
      padding: 16px 20px;
   }
   
   &__logoLink {
      text-decoration: none;
   }
   
   &__optionsBlock {
      @include flex-col();
      gap: 25px;
   }
   
   &__langBlock {
      @include flex-col();
      flex-direction: column;
      gap: 5px;
      position: relative;
   }
   
   &__dropBtn {
      overflow: hidden; 
      border-radius: 25px;
      border: 1px solid $white-clr;
   }

   &__dropBtn,
   &__dropdownItem {
      @include flex-col();
      text-decoration: none;
      transition: $transition;

      &:hover{
         background: $light-black-clr;
         border: $border-blue;
         .mainNavbar__langText {
            color: $blue-clr;
         }
         .mainNavbar__langIcon {
            border: $border-blue;
         }
      }
   }

   
   &__langIcon {
      border-radius: 50%;
      border: 1px solid $white-clr;
      transition: $transition;
   }
   
   &__langText {
      @include set-font(16px, 500, $white-clr);
      font-style: italic;
      margin: 0 10px;
      transition: $transition;
   }
   
   &__dropdown {
      @include flex-col();
      flex-direction: column;
      gap: 5px;
      position: absolute;
      left: 0;
      top: 50px;
      overflow: hidden;
      border: 1px solid $white-clr;
      border-radius: 25px;
      display: none;

      &--active {
         display: block;
      }

   }
   &__burgerBtn {
      padding: 15px 10px;
      position: relative;
      @include flex-col();
      &:hover span::before,
      &:hover span::after {
         background-color: $blue-clr;
         width: 23px;
      }
      &:hover span {
         background-color: $blue-clr;
      }
   }
   &__animationSpan {
      display: block;
      width: 23px;
      height: 3px;
      background-color: $white-clr;
      border-radius: 10px;
      transition: $transition;

      &::before,
      &::after {
         position: absolute;
         content: "";
         width: 30%;
         height: 3px;
         background-color: $white-clr;
         transition: $transition;
         border-radius: 10px;

      }
      &::after {
         top: 5px;
         left: 10px;
      }
      &::before {
         bottom: 5px;
         right: 10px;
      }
   }
   &__burgerIcon {
      @include svg(25px,$white-clr);
      transition: $transition;
   }
}