@import "./variables";
@import "./mixins";

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*:not(i){
   font-family: $font;
}

body {
   min-height: 100vh;
   overflow: hidden;
}

.container{
   max-width: 1800px;
   padding: 0 20px;
   margin: 0 auto;

   @media(max-width: 1800px) {
      max-width: 1600px;
   }
   @media(max-width: 1600px) {
      max-width: 1200px;
   }
}

.contentBg{
   position: absolute;
   left: 0;
   top: 0;
   z-index: -1;
   width: 100%;
   height: 100%;
}

.btn {
   cursor: pointer;
   border: 1px solid $white-clr;
   border-radius: $radius;
   background: transparent;
   padding: 13px 30px;
   text-transform: uppercase;
   color: #fff;
   transition: $transition;
   font-weight: 500;

   &:hover {
      background: $light-black-clr;
      border: 1px solid $blue-clr;
      color: $blue-clr;
   }
   &:hover svg{
      fill: $blue-clr;
   }
}

.main{
   @include flex-col();
   padding: 40px 20px;
}

