// Colors
$black-clr: #202124;
$light-black-clr: #00000047;
$bg-clr: rgb(26, 0, 70);
$blue-clr: #50D0EC;
$white-clr: #fff;

///////
$border-blue: 1px solid #50D0EC;
$radius: 3px;
// font
$font: 'Roboto',sans-serif;

$transition: all 0.2s linear;

// media
$tab-screen: 960px;
$min-tab-screen: 640px;
$mob-screen: 480px;
