<aside class="asideNav">
   <nav class="asideNav__menu">
      <div class="asideNav__menuItem asideNav__menuItem--active ">
         <div class="asideNav__link">
            <div class="asideNav__linkBody">
               <svg class="asideNav__linkIcon">
                  <use xlink:href="@img/icons/sprite.svg#sideNavHome"></use>
               </svg>
               <span class="asideNav__linkText">Home</span>
            </div>
            <div class="asideNav__cover">
               <div class="asideNav__coverInner">
                  <div class="asideNav__coverInnerItem"></div>
                  <div class="asideNav__coverInnerItem"></div>
               </div>
               <div class="asideNav__coverOuter"></div>
            </div>
         </div>
         <hr class="asideNav__ItemLine">
      </div>
      <div class="asideNav__menuItem ">
         <div class="asideNav__link">
            <div class="asideNav__linkBody">
               <svg class="asideNav__linkIcon">
                  <use xlink:href="@img/icons/sprite.svg#sideNavServices"></use>
               </svg>
               <span class="asideNav__linkText">SERVICES</span>
            </div>
            <div class="asideNav__cover">
               <div class="asideNav__coverInner">
                  <div class="asideNav__coverInnerItem"></div>
                  <div class="asideNav__coverInnerItem"></div>
               </div>
               <div class="asideNav__coverOuter"></div>
            </div>
         </div>
         <hr class="asideNav__ItemLine">
      </div>
      <div class="asideNav__menuItem ">
         <div class="asideNav__link">
            <div class="asideNav__linkBody">
               <svg class="asideNav__linkIcon">
                  <use xlink:href="@img/icons/sprite.svg#sideNavTeam"></use>
               </svg>
               <span class="asideNav__linkText">OUR TEAM</span>
            </div>
            <div class="asideNav__cover">
               <div class="asideNav__coverInner">
                  <div class="asideNav__coverInnerItem"></div>
                  <div class="asideNav__coverInnerItem"></div>
               </div>
               <div class="asideNav__coverOuter"></div>
            </div>
         </div>
         <hr class="asideNav__ItemLine">
      </div>
      <div class="asideNav__menuItem ">
         <div class="asideNav__link">
            <div class="asideNav__linkBody">
               <svg class="asideNav__linkIcon">
                  <use xlink:href="@img/icons/sprite.svg#sideNavProjects"></use>
               </svg>
               <span class="asideNav__linkText">PROJECTS</span>
            </div>
            <div class="asideNav__cover">
               <div class="asideNav__coverInner">
                  <div class="asideNav__coverInnerItem"></div>
                  <div class="asideNav__coverInnerItem"></div>
               </div>
               <div class="asideNav__coverOuter"></div>
            </div>
         </div>
         <hr class="asideNav__ItemLine">
      </div>
      <div class="asideNav__menuItem ">
         <div class="asideNav__link">
            <div class="asideNav__linkBody">
               <svg class="asideNav__linkIcon">
                  <use xlink:href="@img/icons/sprite.svg#sideNavPricing"></use>
               </svg>
               <span class="asideNav__linkText">PRICING</span>
            </div>
            <div class="asideNav__cover">
               <div class="asideNav__coverInner">
                  <div class="asideNav__coverInnerItem"></div>
                  <div class="asideNav__coverInnerItem"></div>
               </div>
               <div class="asideNav__coverOuter"></div>
            </div>
         </div>
         <hr class="asideNav__ItemLine">
      </div>
      <div class="asideNav__menuItem ">
         <div class="asideNav__link">
            <div class="asideNav__linkBody">
               <svg class="asideNav__linkIcon">
                  <use xlink:href="@img/icons/sprite.svg#sideNavPricing"></use>
               </svg>
               <span class="asideNav__linkText">CONTACTS</span>
            </div>
            <div class="asideNav__cover">
               <div class="asideNav__coverInner">
                  <div class="asideNav__coverInnerItem"></div>
                  <div class="asideNav__coverInnerItem"></div>
               </div>
               <div class="asideNav__coverOuter"></div>
            </div>
         </div>
         <hr class="asideNav__ItemLine">
      </div>
   </nav>
   <!-- <div class="asideNav__socials">
      <a href="" class="asideNav__socialLink">
         <svg class="asideNav__socialIcon"></svg>
      </a>
   </div> -->
</aside>