<div class="home">
   <div class="home__laptop">
      <div class="home__laptopHeader">
         <div class="home__laptopScreen">
            <img src="./img/homeLogo.png" alt="" class="home__laptopLogo">
            <p class="home__laptopText">DEVELOPMENT TEAM</p>
         </div>
      </div>
      <div class="home__laptopFooter"></div>
   </div>
   <p class="home__content-text">We design and build successful web software and mobile applications that are modern,
      search engine optimized, using
      latest technology, user friendly, easy navigating, easy maintainable, scalable and what is most important
      reliable.</p>
   <div class="home__scrollerBlock">
      <div class="home__scroller">
         <div class="home__scrollerInner"></div>
      </div>
      <h4 class="home__scrollerText">SCROLL DOWN</h4>
   </div>

</div>