<nav class="mainNavbar">
   <div class="mainNavbar__container container">
      <div class="mainNavbar__logoBlock">
         <a href="" class="mainNavbar__logoLink">
            <img src="./img/navLogo.png" class="mainNavbar__logoImg" alt="">
         </a>
      </div>
      <div class="mainNavbar__optionsBlock">
         <button class="btn mainNavbar__applyBtn">Apply</button>
         <div class="mainNavbar__langBlock">
            <a href="#" class="mainNavbar__dropBtn">
               <img src="./img/flag-am.png" alt="" class="mainNavbar__langIcon">
               <span class="mainNavbar__langText">ARM</span>
            </a>
            <div class="mainNavbar__dropdown">
               <a href="#" class="mainNavbar__dropdownItem">
                  <img src="./img/flag-ru.png" alt="" class="mainNavbar__langIcon">
                  <span class="mainNavbar__langText">RUS</span>
               </a>
               <a href="#" class="mainNavbar__dropdownItem">
                  <img src="./img/flag-en.png" alt="" class="mainNavbar__langIcon">
                  <span class="mainNavbar__langText">ENG</span>
               </a>
            </div>
         </div>
      </div>
   </div>
</nav>