<div class="ourService">
    <div class="ourServices__service">
        <div class="ourService__item">
            <div class="ourService__itemText">
                <h2 class="ourService__header">Web Development</h2>
                <p class="ourService__text">We create awesome websites, the perfect solution for your project. We develop fast loading web pages with excellent navigation and designing.</p>
            </div>
            <div class="ourService__icons">
                <img class="ourService__img" src="../../img/services-dev.png" alt="Development">
            </div>
        </div>
        <div class="ourService__item">
            <div class="ourService__itemText">
                <h2 class="ourService__header">UI/UX Design</h2>
                <p class="ourService__text">We provide top-notch UI/UX development services. Get an eye-catching look and feel for your solutions, increase your user interaction and drive sales.</p>
            </div>
            <div class="ourService__icons">
                <img class="ourService__img" src="../../img/services-figma.png" alt="Uiux">
            </div>
        </div>
        <div class="ourService__item">
            <div class="ourService__itemText">
                <h2 class="ourService__header">SEO</h2>
                <p class="ourService__text">Website optimization with researched Keywords.Improving your Google (and other search engines) rankings & overall website visibilityDrive visitors traffic and boost lead generation.</p>
            </div>
            <div class="ourService__icons">
                <img class="ourService__img" src="../../img/services-seo.png" alt="Seo">
            </div>
        </div>
        <div class="ourService__item">
            <div class="ourService__itemText">
                <h2 class="ourService__header">Web Design</h2>
                <p class="ourService__text">We offer professional, modern and responsive web design and development</p>
            </div>
            <div class="ourService__icons">
                <img class="ourService__img" src="../../img/services-design.png" alt="Design">
            </div>
        </div>
        <div class="ourService__item">
            <div class="ourService__itemText">
                <h2 class="ourService__header">API Integration</h2>
                <p class="ourService__text">API integration on any kind of web applications.</p>
            </div>
            <div class="ourService__icons">
                <img class="ourService__img" src="../../img/services-api.png" alt="Api">
            </div>
        </div>
        <div class="ourService__item">
            <div class="ourService__itemText">
                <h2 class="ourService__header">Mobile App Development</h2>
                <p class="ourService__text">We develop native mobile apps on the most popular platforms (Android and iOS) in line with the latest UX trends</p>
            </div>
            <div class="ourService__icons">
                <img class="ourService__img" src="../../img/services-mobile.png" alt="Mobile">
            </div>
        </div>
    </div>
</div>